html, body {
  font-family: $font-sans;
  background: $color-bg;
  color: $color-text-dark;
  min-height: 100%;
}
a { color: $color-primary; text-decoration: none; }
a:hover { text-decoration: underline; }

@import "./components/layout.scss";
@import "./components/buttons.scss";
@import "./components/forms.scss";
@import "./components/cards.scss";
@import "./components/tables.scss";
@import "./components/landing.scss";
